{% extends "../passage_layout.html" %}
{% load static %}

{% block content %}
<h3>
    <a href="../ruth">&larr; storyline</a>
</h3>
<div class="question">
    <h1>Who is Ruth?</h1>
    <p>Ruth 1</p>
    <p>
        The book of Ruth in the old testament is centred around a woman called 
        Ruth and her mother-in-law Naomi. Ruth was a Moabite, and was around in 
        the time when the Judges ruled. </p>
        
        <div class="more">
            <label for="collapse10">
                <h3> &darr; More</h3>
            </label>
            <input type="checkbox" id="collapse10" style="display:none;">
            <p id="hidden">
                *Around 1200 - 1020 b.c. This time was hard and desperate 
                for everyone. There were famines and wars, it was a difficult 
                period to live through.
            </p>
        </div>
        <br>
        <p>
        The story of Ruth has a few main ideas. 1. Ruth's loyalty to Naomi 
        throughout the book and 2. That the book never mentions God.
        <br>
        <br>
        When both of Naomi's sons died, Ruth declared that she would go with 
        Naomi back to her homeland in Judah - even though Naomi wanted to go 
        alone. 
        <br>
        <br>
        So the story begins with Naomi and Ruth returning back to Judah, both 
        widowed with no males to look after them. They were refugees.</p>
    <p class="verse">
        Ruth 1 : 16 - 17 <br>
        But Ruth replied, “Don't urge me to leave you or to turn back from you. 
        Where you go I will go, and where you stay I will stay. Your people 
        will be my people and your God my God.”
    </p>
    <br>
</div>
{% endblock content %}