{% extends "../passage_layout.html" %}
{% load static %}

{% block content %}
<h3>
    <a href="../ruth">&larr; storyline</a>
</h3>
<div class="passage">
    <h1>Scheming</h1>
    <p>Ruth 2</p>
    <p>
        The second chapter begins with Ruth and Naomi as foreigners in Israel
        where they must find food. At this time it is the start of the barley 
        harvest. 
        <br><br>
        So Ruth goes out and begins picking grain in a field, and it 
        just so happens to be the field of her relative - an Israelite man 
        named Boaz. We are told he is a man of 'noble character'.
        <br><br>
        Boaz' character complements Ruth's loyalty with his equal generosity. 
        He hears her story and allows her to pick grain in his field. This was 
        very remarkable in the day as he followed a biblical law from the Torah 
        (Hebrew laws), making him a very Godly man. Boaz is impressed with 
        Ruth's loyalty to Naomi that he prays her boldness will reward her.
        <br><br>
        When Ruth came home that night and told Naomi about Boaz, she was 
        thrilled as Boaz was their 'family redeemer'*.
    </p>
    <div class="more">
        <label for="collapse12">
            <h3> &darr; More</h3>
        </label>
        <input type="checkbox" id="collapse12" style="display:none;">
        <p id="hidden">
            *In those days, when a woman became widowed there was a cultural 
            practice for the family redeemer to marry the widow. 
        </p>
    </div>
    <p>
        Here the turning point of the story is brought forth, for out of despair 
        and hopelessness, Naomi begins to see a future for them.
    </p>
</div>
{% endblock content %}