{% extends "../passage_layout.html" %}
{% load static %}

{% block content %}
<h3>
    <a href="../ruth">&larr; storyline</a>
</h3>
<div class="passage">
    <h1>Ruth and Boaz</h1>
    <p>Ruth 2</p>
    <p>
        So as Ruth showed loyalty to her mother-in-law Naomi, Boaz showed
        loyalty to his family and his role as Lord protector by asking Ruth
        to marry him. However, this doesn't just happen.
        <br>
        <br>
        This chapter is full of scheming and planning on Ruth and Naomi's part
        in order to get Boaz to notice their situation. The plan starts with
        the clothing.
        <br>
        <br>
        To show that Ruth was out of mourning and willing to be wed again,
        she stopped wearing widow's clothes.
    </p>
    <div class="more">
        <label for="collapse11">
            <h3> &darr; More</h3>
        </label>
        <input type="checkbox" id="collapse11" style="display:none;">
        <p id="hidden">
            *In the time of the judges, widows dressed specifically to tell others
            they were mourning and were not available to be married. For Ruth this
            signified she was "available."
        </p>
    </div>
    <p>
        The second thing Ruth did was go to Boaz' farm at night, lay at his feet
        and ask him to marry her. This startled Boaz, however he did not turn
        the offer down, staying true to his position and role. His further
        generosity and noble character was shown when he told her to stay for
        the night, keeping her protected as it was late.
        <br>
        <br>
        In the morning he took six measures (around 21 litres) of barley and
        placed it in her shawl to not leave her mother-in-law empty handed on
        return. This further generosity is shown not just to Ruth but to her
        family as well, promoting his good character and noble figure.
        <br>
        <br>
        He then tells Ruth to wait till day where he will make the matter
        official in front of the elders.
    </p>
</div>
{% endblock content %}