{% extends "../passage_layout.html" %}
{% load static %}

{% block content %}
<h3>
    <a href="../ruth">&larr; storyline</a>
</h3>
<div class="passage">
    <h1>Marriage</h1>
    <p>Ruth 4</p>
    <p>
        In the morning Boaz went to the town gate. Now here is where the story 
        takes a twist. Even though Boaz is the family redeemer, his sole purpose 
        is not to marry Ruth but to find her someone that will protect her. He 
        redeems the family. 
        <br><br>
        So all the elders, Boaz and the family protector - who Boaz chose for 
        Ruth to marry - gather by the town gate. Then Boaz asks if he would buy 
        the land that Naomi came from in order to redeem them. He agrees. 
        <br><br>
        Boaz tells him that with the land comes a marriage vow with Ruth and 
        protection over her family - Naomi. The family protector declines.    
    </p>

        <div class="verse">
            Ruth 4: 5-6 <br>
            Then Boaz said, "When you buy the property from Naomi, you must also 
            marry Ruth. She is from Moab and is the dead man's widow. So you must 
            marry her."
            <br><br>
            When the family protector heard that, he said, "Then I can't buy the 
            land. If I did, I might put my own property in danger."
        </div>

    <p>
        Then the family protector takes off him sandal* and tells Boaz to buy 
        the land instead. So Boaz does just that, and in doing so takes Ruth to 
        be his wife, redeeming her family and restoring her family's title 
        through the land. 
    </p>
    <div class="more">
        <label for="collapse13">
            <h3> &darr; More</h3>
        </label>
        <input type="checkbox" id="collapse13" style="display:none;">
        <p id="hidden">
            *In earlier times in Israel when family land was bought and changed 
            owners one took off their sandal and placed it on the ground to 
            settle the matter.
        </p>
    </div>
</div>
{% endblock content %}