{% extends "../passage_layout.html" %}
{% load static %}

{% block content %}
<div class="question">
    <h1 class="head">Where is God?</h1>
    <p>
        So where is God in this story? He is never specifically mentioned or 
        attributed to. 
        <br><br>
        But, the fact that God is absent is the point of the story. 
        <br><br>
        Amidst all the chaos and distress from becoming widows, Ruth and Naomi 
        are redeemed. The main taking is that God works behind the scenes and 
        will make all things right for his kingdom.
        <br><br>
        God has a plan, and God works through people to create and fulfil his 
        plan. Sometimes bad things happen and we don't often understand why 
        God has placed us in that position - it often feels unfair. 
        <br><br>
        Yet, here we see, even in the difficult times of Ruth and Naomi's life, 
        God is working and is redeeming them and revealing more of his story 
        of humanity through them. 
        <br><br>
        God is working here through the kindness Boaz showed to Ruth the 
        immigrant in a foreign land, and Ruth's loyalty to Naomi through hard 
        times, when they needed each other. God's character is shown through 
        Boaz taking Ruth in marriage when the family protector wouldn't.
        <br>
        </p>
</div>
{% endblock content %}