body {
    margin: 0;
    background-color: rgb(224, 224, 224);
}

h1 {
    font-size: 300%;
}

h2 {
    font-size: 180%;
}

p {
    font-size: 130%;
}

.menubar {
    margin: 0;
    background-color: grey;
    bottom: 0;
    width: 100%;
    overflow: hidden;
    padding: 1%, 0;
    max-height: 15%;
    align-items: baseline;
    position: fixed;
    z-index: 1;
    /* border: 1px black solid; */
}

.menubar a {
    display: flex;
    float: left;
    width: 16%;
    margin: 1%;
    padding: 1%;
    font-size: 50%;
    text-align: center;
}

.menubar img {
    width: 100%;
}

.active img {
    display: flex;
    width: 570%;
    z-index: 2;
    margin: auto;
    text-align: center;
    padding: 10%;
}

.menubar .active {
    border-radius:50%;
    background-color: grey;
    z-index: 1;
    width: 25%;
    height: 13%;
    bottom: 0%;
    position: fixed;
    /* border: 1px black solid; */
}


.active.one {
    left: 0;
    background-image: url("images/maps_icon.png");
    background-repeat: no-repeat;
    background-size: contain;
}

.active.two {
    left: 17%;
    background-image: url("images/notes_icon.png");
    background-repeat: no-repeat;
    background-size: contain;
}

.active.three {
    left:37%;
    background-image: url("images/Home_icon.png");
    background-repeat: no-repeat;
    background-size: contain;
}

.active.four {
    left:57%;
    background-image: url("images/collections_icon.png");
    background-repeat: no-repeat;
    background-size: contain;

}

.active.five {
    left: 77%;
    background-image: url("images/storyline_icon.png");
    background-repeat: no-repeat;
    background-size: contain;
}


.content {
    padding: 5%;
    margin-bottom: 20%;
}

a {
    text-decoration: none;
    color: black;
}

.icon_header {
    display: flex;
    width: 100%;
}

.icon_header img {
    width: 20%;
}

.verse_of_the_week {
    border-radius: 3%;
    background-color: grey;
    padding: 3%;
    margin: 0;
}

.verse_of_the_week .ref {
    background-color: white;
    width: 50%;
    padding: 0.5%;
}

.current_stories_scroll {
    overflow: auto;
    color: white;
    white-space: nowrap;
    padding: 2%;
    width: 100%;
    height: 10em;
}

.current_story_block{
    display: inline;
    overflow: hidden;
    margin: 0;
    background-color: grey;
    padding: 30%;
}

.settings {
    margin-top: 3%;
}

.settings .toggle {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.settings .toggle input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: red;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .0.4;
    transition: 0.4;
}

input:checked + .slider {
    background-color: blue;
}

input:focus + .slider {
    box-shadow: 0 0 1px white;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.settings {
    display: flex;
    align-items: center;
    width: 100%;
    margin: 0;
}

.settings p {
    padding-left: 5%;
    font-size: 150%;

}

.story_block {
    width: 80%;
    display: flex;
    background-color: grey;
    padding: 2% 10%;
    border-radius: 10px;
    margin: 10% 0;
    background-image: url(images/moses.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.story_block a {
    text-align:right;
    font-size: 150%;
    color: white;
    padding-left: 30%;
}

.story_block a:hover {
    color: black;
    transition: 0.5s ease;
}

.row {
    display: flex;
}

.column {
    flex: 50%;
}

.collection_block {
    background-color: grey;
    padding: 2% 10%;
    border-radius: 10px;
    margin: 10% 0; 
}

.collection_block a {
    color: white;
    text-align: center;
    font-size: 120%;
}

.collection_block a:hover {
    color: black;
    transition: 0.5s ease;
}

.step {
    display: flex;
    width: 100%;
}

.step_type {
    width: 35%;
    flex-direction: column;
    background-color: grey;
} 

.psg {
    background-image: url("images/notes_icon.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.step_info {
    padding: 2% 5%;
    justify-content: left;
    font-size: 100%;
    display: flex;
}


.vl {
    border-left: 3px solid black;
    margin: 0 10%;
    height: 100px;
}

.passage, .question {
    display: inline-block;
}

.passage p {
    font-size: 120%;
}

.verse {
    background-color: rgba(78, 78, 78, 0.288);
    color: black;
    padding: 3%;
    border-radius: 10px;
}

img.profile {
    width: 50%;
    display: flex;
    margin: auto;
}