body {
    margin: 0;
    background-color: rgb(224, 224, 224);
}

.menubar {
    margin: 0;
    background-color: grey;
    bottom: 0;
    width: 100%;
    overflow: hidden;
    padding: 1%, 0;
    max-height: 15%;
    align-items: baseline;
    position: fixed;
}

.menubar a {
    display: flex;
    float: left;
    width: 16%;
    margin: 1%;
    padding: 1%;
    font-size: 50%;
    text-align: center;
}

.menubar img {
    width: 100%;
}

.menubar .active {
    border: red solid;
}

.content {
    padding: 5%;
}

.icon_header {
    display: flex;
    width: 100%;
}

.icon_header img {
    width: 20%;
}

.verse_of_the_week {
    border-radius: 3%;
    background-color: grey;
    padding: 3%;
    margin: 0;
}

.verse_of_the_week .ref {
    background-color: white;
    width: 50%;
    padding: 0.5%;
}

.current_stories_scroll {
    overflow: auto;
    color: white;
    white-space: nowrap;
    padding: 2%;
    width: 100%;
    height: 10em;
}

.current_story_block{
    display: inline;
    overflow: hidden;
    margin: 5%;
    background-color: grey;
    padding: 30%;
}

.settings {
    margin-top: 3%;
}

.settings .toggle {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.settings .toggle input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: red;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .0.4;
    transition: 0.4;
}

input:checked + .slider {
    background-color: blue;
}

input:focus + .slider {
    box-shadow: 0 0 1px white;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.settings {
    display: flex;
    align-items: center;
    width: 100%;
    margin: 0;
    
}

.settings p {
    padding-left: 5%;
    font-size: 150%;

}
