<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>bible curious | Collections</title>
        <link rel="stylesheet" href="{% static 'style.css' %}">
        <link rel="shortcut icon" href="{% static 'favicon.ico' %}">
    </head>
    <body>
        <!-- MENUBAR -->
        <div class="menubar">
            <a href="/maps">
                <img src="{% static 'images/map_black.svg' %}" alt="">
            </a>
            <a href="/notes">
                <img src="{% static 'images/notes_black.svg' %}" alt="">
            </a>
            <a href="/">
                <img src="{% static 'images/church_black.svg' %}" alt="">
            </a>
            <a href="">
                <div class="active four">
                    <img src="{% static 'images/search_black.svg' %}" alt="">
                </div>
            </a>
            <a href="leaders_of_the_bible/moses">
                <img src="{% static 'images/storyline_black.svg' %}" alt="">
            </a>
        </div>
        <div class="content">
            <h3 class="back">
                <a href="/">&larr; Home</a>
            </h3>
            <!-- login icon -->
            {% if session %}
            <div class="pfp_home">
                <a href="profile">
                    <img src="{{session.userinfo.picture}}" alt="">
                </a>
            </div>
            {% else %}
            <div class="pfp_home">
                <a class="login" href="/login">LOGIN</a>
            </div>
            {% endif %}
            <h1 class="head">Collections</h1>
            {% for collection in collections %}
            <a href="{{ collection.href }}">
                <div class="collection_block">
                    <h2>{{collection.name}}</h2>
                </div>
            </a>
            {% endfor %}
        </div>
    </body>
</html>
