<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Collections</title>
        <link rel="stylesheet" href="{% static 'style.css' %}">
    </head>
    <body>
        <!-- MENUBAR -->
        <div class="menubar">
            <a href="/maps">
                <img src="{% static 'images/maps_icon.png' %}" alt="">
            </a>
            <a href="/notes">
                <img src="{% static 'images/notes_icon.png' %}" alt="">
            </a>
            <a href="/">
                <img src="{% static 'images/Home_icon.png' %}" alt="">
            </a>
            <!-- Filler -->
            <a href="#"></a>
            <div class="active four">
                <a href="">
                </a>
            </div>
            <a href="leaders_of_the_bible/moses">
                <img src="{% static 'images/storyline_icon.png' %}"alt="">
            </a>
        </div>
        <div class="content">
            <h1>Collections</h1>
            <div class="collection_block">
                <a href="leaders_of_the_bible">
                    <h2>Leaders in the Bible</h2>
                </a>
            </div>
            <div class="collection_block">
                <a href="#">
                    <h2>Women in the Bible</h2>
                </a>
            </div>
            <div class="collection_block">
                <a href="#">
                    <h2>Jesus' Life</h2>
                </a>
            </div>
            <div class="collection_block">
                <a href="#">
                    <h2>Laws, Rules and Customs</h2>
                </a>
            </div>
            <div class="collection_block">
                <a href="#">
                    <h2>Prophets and Mission</h2>
                </a>
            </div>
        </div>
    </body>
</html>
