<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>bible curious | {{story_name}} - {{step_number}}</title>
        <link rel="stylesheet" href="{% static 'style.css' %}">
        <link rel="shortcut icon" href="{% static 'favicon.ico' %}">
    </head>
    <body>
        <!-- MENUBAR -->
        <div class="menubar">
            <a href="/maps">
                <img src="{% static 'images/map_black.svg' %}" alt="">
            </a>
            <a href="/notes">
                <img src="{% static 'images/notes_black.svg' %}" alt="">
            </a>
            <a href="/">
                <img src="{% static 'images/church_black.svg' %}" alt="">
            </a>
            <a href="/collections">
                <img src="{% static 'images/search_black.svg' %}"alt="">
            </a>
            <a href="/{{ story_href }}">
                <div class="active five">
                    <img src="{% static 'images/storyline_black.svg' %}"alt="">
                </div>
            </a>
        </div>
        <div class="content">
            <h3 class="back">
                <a href="{{story_href}}">&larr; storyline</a>
            </h3>
            {% block content %}{% endblock content %}
            

            <div class="step_nav">
                <a href="{{ prev_step }}">
                    <div class="prev">
                        Prev<br>
                        &larr; 
                    </div>    
                </a>
                <a href="{{ next_step }}">
                    <div class="next">
                        Next<br>
                        &rarr; 
                    </div>    
                </a>
            </div>

        </div>
    </body>
</html>
