<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Passage + passage name</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>

<body>
    <!-- MENUBAR -->
    <div class="menubar">
        <a href="/maps">
            <img src="{% static 'images/map_black.svg' %}" alt="">
        </a>
        <a href="/notes">
            <img src="{% static 'images/star_black.svg' %}" alt="">
        </a>
        <a href="/">
            <img src="{% static 'images/church_black.svg' %}" alt="">
        </a>
        <a href="/collections">
            <img src="{% static 'images/collections_icon.svg' %}" alt="">
        </a>
        <!-- Filler -->
        <a href="#"></a>
        <div class="active five">
            <a href="leaders_of_the_bible/moses"></a>
        </div>
    </div>
    <div class="content">
        <h3>
            <a href="../moses">&larr; storyline</a>
        </h3>
        <div class="passage">
            <h1 class="head">Moses Flees to Midian</h1 class="head">
            Exodus 2:11-21
            <h2>Moses Kills an Egyptian</h2>
            <p>
                One day, after Moses had grown up, he went out to where his own
                people were and watched them at their hard labour. He saw an
                Egyptian beating a Hebrew, one of his own people. 
                <br><br>Looking this way and that and seeing no one, he killed 
                the Egyptian and hid him in the sand. <br> <br>
                
                The next day he went out and saw two Hebrews fighting.
                He asked the one in the wrong, “Why are you hitting your fellow
                Hebrew?” <br>The man said, “Who made you ruler and judge over us?
                Are you thinking of killing me as you killed the Egyptian?” <br>Then
                Moses was afraid and thought, “What I did must have become known.” <br> <br>
            </p>
            <img class="profile" src="{% static 'collections/well.png' %}" alt="">
            <h2>Midian</h2>
            <p>
                When Pharaoh heard of this, he tried to kill Moses, but Moses
                fled from Pharaoh and went to live in Midian, where he sat down
                by a well. 
                
                <br><br>Now a priest of Midian had seven daughters, and they
                came to draw water and fill the troughs to water their father's
                flock. Some shepherds came along and drove them away, but Moses
                got up and came to their rescue and watered their flock. <br> <br>

                When the girls returned to Reuel their father, he asked them,
                “Why have you returned so early today?”
                They answered, “An Egyptian rescued us from the shepherds. He
                even drew water for us and watered the flock.”
                “And where is he?” Reuel asked his daughters. “Why did you leave
                him? Invite him to have something to eat.” <br> <br>

                Moses agreed to stay with the man, who gave his daughter
                Zipporah to Moses in marriage. <br> <br>
            </p>
            <h3>Insights</h3>
            <ul>
                <li>
                    Moses was passionate about justice for his people, however his
                    passion turned to anger when he killed the egyptian.
                </li>
                <li>
                    When Moses flees to Midian we see his passion for justice in a
                    good way by helping the Midian girls.
                </li>
                <li>
                    By marrying Zipporah he is starting a new life as an Israelite
                    and embracing his origin.
                </li>
            </ul>
        </div>
    </div>
</body>

</html>