<!DOCTYPE html>
{% load static %}
{% static 'images' as image_path %}
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Storyline + story</title>
        <link rel="stylesheet" href="{% static 'style.css' %}">
    </head>
    <body>
        <!-- MENUBAR -->
        <div class="menubar">
            <a href="/maps">
                <img src="{% static 'images/maps_icon.png' %}" alt="">
            </a>
            <a href="/notes">
                <img src="{% static 'images/notes_icon.png' %}" alt="">
            </a>
            <a href="/">
                <img src="{% static 'images/Home_icon.png' %}" alt="">
            </a>
            <a href="/collections">
                <img src="{% static 'images/collections_icon.png' %}" alt="">
            </a>
            <!-- Filler -->
            <a href="#"></a>
            <a href="">
                <div class="active five"></div>
            </a>
        </div>
        <div class="content">
            <h3>
                <a href="../{{collection_href}}">{{collection_name}}</a>
                &rarr; {{story_name}}'s storyline
            </h3>
            <h1>{{story_name}}</h1>
            
            <!-- steps -->
            {% for step in steps %}
            <a href="{{step.href}}" class="step">
                <div class="step_info">
                    <h2>{{step.type}}</h2>
                    <h3>{{step.name}}</h3>
                    <input type="checkbox">
                </div>
                <div class="step_type">
                    <img src="{{image_path}}/{{step.type}}_icon.png" alt="">
                </div>
            </a>
            <div class="vl"></div>
            {% endfor %}


        </div>
    </body>
</html>
