<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Collections - Story</title>
        <link rel="stylesheet" href="{% static 'style.css' %}">
    </head>
    <body>
        <!-- MENUBAR -->
        <div class="menubar">
            <a href="/maps">
                <img src="{% static 'images/map_black.svg' %}" alt="">
            </a>
            <a href="/notes">
                <img src="{% static 'images/notes_black.svg' %}" alt="">
            </a>
            <a href="/">
                <img src="{% static 'images/church_black.svg' %}" alt="">
            </a>
            <a href="./">
                <div class="active four">
                    <img src="{% static 'images/search_black.svg' %}" alt="">
                </div>
            </a>
            <a href="leaders_of_the_bible/moses">
                <img src="{% static 'images/storyline_black.svg' %}" alt="">
            </a>
        </div>
        <div class="content">
            <h3>
                <a href="/collections">&larr; Collections</a>
            </h3>
            <h1>{{collection_name}}</h1>
            <!-- stories -->
            {% for story in stories %}
            <div class="story_block">
                <a href="{{story.href}}">
                    <h2>{{story.name}}</h2>
                </a>
            </div>
            {% endfor %}
        </div>
    </body>
</html>
