<!DOCTYPE html>
{% load static %}
{% static 'images' as image_path %}
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>bible curious | {{collection_name}} - {{story_name}}</title>
        <link rel="stylesheet" href="{% static 'style.css' %}">
        <link rel="shortcut icon" href="{% static 'favicon.ico' %}">
    </head>
    <body>
        <!-- MENUBAR -->
        <div class="menubar">
            <a href="/maps">
                <img src="{% static 'images/map_black.svg' %}" alt="">
            </a>
            <a href="/notes">
                <img src="{% static 'images/notes_black.svg' %}" alt="">
            </a>
            <a href="/">
                <img src="{% static 'images/church_black.svg' %}" alt="">
            </a>
            <a href="/collections">
                <img src="{% static 'images/search_black.svg' %}" alt="">
            </a>
            <a href="">
                <div class="active five">
                    <img src="{% static 'images/storyline_black.svg' %}" alt="">
                </div>
            </a>
        </div>
        <div class="content">
            <h3 class="back">
                <a href="../{{collection_href}}">&larr; {{collection_name}}</a>
                
            </h3>
            <h1>{{story_name}}'s storyline</h1>
            
            <!-- steps -->
            {% for step in steps %}
            <a href="/collections/{{step.href}}" class="step">
                <div class="step_info">
                    <h2>{{step.type}}</h2>
                    <h3>{{step.name}}</h3>
                </div>
                <div class="step_type">
                    <img src="{{image_path}}/{{step.image}}_black.svg" alt="">
                </div>
            </a>
            <div class="vl"></div>
            {% endfor %}

            <a href="/collections" class="step finished">
                <div class="step_info">
                    <h2> Collections page</h2>
                    <h3>Well done! You have finished the {{story_name}} story!</h3>
                </div>
            </a>

        </div>
    </body>
</html>
