<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Storyline + story</title>
        <link rel="stylesheet" href="{% static 'style.css' %}">
    </head>
    <body>
        <!-- MENUBAR -->
        <div class="menubar">
            <a href="/maps">
                <img src="{% static 'images/maps_icon.png' %}" alt="">
            </a>
            <a href="/notes">
                <img src="{% static 'images/notes_icon.png' %}" alt="">
            </a>
            <a href="/">
                <img src="{% static 'images/Home_icon.png' %}" alt="">
            </a>
            <a href="/collections">
                <img src="{% static 'images/collections_icon.png' %}" alt="">
            </a>
            <!-- Filler -->
            <a href="#"></a>
            <a href="">
                <div class="active five"></div>
            </a>
        </div>
        <div class="content">
            <h3>
                <a href="../leaders_of_the_bible">Leaders of the Bible</a>
                &rarr; Moses' storyline
            </h3>
            <h1>Moses</h1>
            <!-- passages -->
            <a href="moses/1" class="step">
                <div class="step_info">
                    <h2>Question</h2>
                    <h3>Who is Moses?</h3>
                    <input type="checkbox">
                </div>
                <div class="step_type">
                    <img src="{% static 'images/question_icon.png' %}" alt="">
                </div>
            </a>
            <div class="vl"></div>

            <a href="moses/2" class="step">
                <div class="step_type">
                    <img src="{% static 'images/passage_icon.png' %}" alt="">
                </div>
                <div class="step_info">
                    <h2>Passage</h2>
                    <h3>Moses Flees to Midian</h3>
                    <input type="checkbox">
                </div>
            </a>


        </div>
    </body>
</html>
