<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>bible curious | Me</title>
        <link rel="stylesheet" href="{% static 'style.css' %}">
        <link rel="shortcut icon" href="{% static 'favicon.ico' %}">
    </head>
    <body>
        <!-- MENUBAR -->
        <div class="menubar">
            <a href="/">
                <div>
                    <img src="{% static 'images/church_black.svg' %}" alt="">
                </div>
            </a>
            <a href="collections/leaders_of_the_bible/moses">
                <img src="{% static 'images/storyline_black.svg' %}" alt="">
            </a>
            <a href="/collections">
                <img src="{% static 'images/collections_icon.svg' %}" alt="">
            </a>
            <a href="/maps">
                <img src="{% static 'images/map_black.svg' %}" alt="">
            </a>
            <a href="notes" class="active five">
                <img src="{% static 'images/star_black.svg' %}" alt="">
            </a>
        </div>

        {% if session %}
        <div class="user_header note">
            <div class="pfp_profile">
                <a href="/notes">
                    <img class="profile" src="{{session.userinfo.picture}}" alt="">
                </a>
            </div>
            <h2 class="username">{{session.userinfo.name}}</h2>
            <h3>{{session.userinfo.email}}</h3>
            <a href="/logout">logout</a>
        </div>
        {% endif %}

        <div class="content">
            {% if session %}
            <h2>Your Stuff</h2>

            <h3>Favourite Verses</h3>
            <div class="current_stories_scroll">
                {% for verse in my_fav_verses %}
                    <!-- <a href="{{ collection.href }}"> -->
                        <div class="collection_block">
                            <h4>{{verse.reading}}</h4>
                        </div>
                    <!-- </a> -->
                {% endfor %}
            </div>

            
            <h3>Favourite Steps</h3>
            <div class="current_stories_scroll">
                {% for step in my_fav_steps %}
                    <!-- <a href="{{ collection.href }}"> -->
                        <div class="collection_block">
                            <h4><a href="/collections/{{ step.calculate_href }}">{{step.story.name}} - {{step.name}}</a></h4>
                        </div>
                    <!-- </a> -->
                {% endfor %}
            </div>
        
            {% else %}
            <h1 class="head">Your Stuff</h1>
            <h3>To see your notes and favourited stuff login below</h3>
            <a href="/login">LOGIN</a>
            {% endif %}
        </div>
    </body>
</html>
