<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>bible curious | Notes</title>
        <link rel="stylesheet" href="{% static 'style.css' %}">
        <link rel="shortcut icon" href="{% static 'favicon.ico' %}">
    </head>
    <body>
        <!-- MENUBAR -->
        <div class="menubar">
            <a href="/maps">
                <img src="{% static 'images/map_black.svg' %}" alt="">
            </a>
            <a href="notes">
                <div class="active two">
                    <img src="{% static 'images/notes_black.svg' %}" alt="">
                </div>
            </a>
            <a href="/">
                <img src="{% static 'images/church_black.svg' %}" alt="">
            </a>
            <a href="collections">
                <img src="{% static 'images/search_black.svg' %}" alt="">
            </a>
            <a href="collections/leaders_of_the_bible/moses">
                <img src="{% static 'images/storyline_black.svg' %}" alt="">
            </a>
        </div>

        <div class="content">
            <h3 class="back">
                <a href="/">&larr; Home</a>
            </h3>

            <h1 class="head">Your Stuff</h1>
            {% if session %}
            <h3>Favourites</h3>
            {% else %}
            <h3>To see your notes and favourited stuff login below</h3>
            <a href="/login">LOGIN</a>
            {% endif %}

        </div>
    </body>
</html>
