<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>bible curious | Home</title>
        <link rel="stylesheet" href="{% static 'style.css' %}">
        <link rel="shortcut icon" href="{% static 'favicon.ico' %}">
    </head>
    <body>
        <!-- MENUBAR -->
        <div class="menubar">
            <a href="/maps">
                <img src="{% static 'images/map_black.svg' %}" alt="">
            </a>
            <a href="notes">
                <img src="{% static 'images/notes_black.svg' %}" alt="">
            </a>
            <a href="/">
                <div class="active three">
                    <img src="{% static 'images/church_black.svg' %}" alt="">
                </div>
            </a>
            <a href="/collections">
                <img src="{% static 'images/search_black.svg' %}" alt="">
            </a>
            <a href="collections/leaders_of_the_bible/moses">
                <img src="{% static 'images/storyline_black.svg' %}" alt="">
            </a>
        </div>
        <div class="content">
            <h3 class="back">
                <a href="/">&larr; Home</a>
            </h3>
            <h1 class="head">Profile</h1>
            <img class="pfp_profile" src="{{session.userinfo.picture}}" alt="">
            <h2>{{session.userinfo.name}}</h2>
            <a href="/logout">logout</a>
        </div>
    </body>
</html>
