{% extends "../passage_layout.html" %}
{% load static %}

{% block content %}
<h3>
    <a href="../moses">&larr; storyline</a>
</h3>
<div class="question">
    <h1>Who is Moses?</h1>
    <p>Exodus 1</p>
    <h2>Origin</h2>
    <p>
        Around 3,500 years ago a group of people called the 
            Israelites (from Israel) lived in Egypt as slaves. The 
            Egyptian king called Pharaoh was corrupt and sought power.
        <br>
        <br>
        When he realised the Iraelities were becoming too numerous 
            in his land he sent out an order to kill all the Israelite 
            baby boys under two in the land.
        <br>
        <br>
        <img class="profile" src="{% static 'collections/reeds.png' %}" alt="">
        Exodus 2:1-10
    </p>
    <h2>Birth of Moses</h2>
    <p>
        However an Iraelite mother placed her baby boy in a 
            basket, covered it with tar so that it would float 
            down the river. She did this in hopes that her son 
            would be saved from the hand of Pharaoh on her people, 
            and give him a chance at life.
        <br>
        <br>
        The basket travelled down the river and made it to the Egyptian palace 
            where the Egyptian princess found the basket, with the 
            baby inside. Having pity she took him in as her own 
            and called him 'Moses' which is Hebrew for "I drew him 
            out of the water."
    </p>
    <p class="verse">
        Exodus 2:6
        <br>
        She opened it and saw the baby. He was crying, and she 
            felt sorry for him. “This is one of the Hebrew babies,” 
            she said.
    </p>
    <br>
    
</div>
{% endblock content %}
