{% extends "../passage_layout.html" %}
{% load static %}

{% block content %}
<div class="question">
    <h1 class="head">What is the Passover</h1 class="head">

    <h2>Context</h2>
    <p>
        After all the plagues, God decided to send one final plague that would 
        ensure that Pharaoh would drive out the Israelites completely. <br><br>
        
        The Jewish people celebrate the outcomes of this plague with the 
        Festival of the Passover, so what was the plague and what did God tell 
        the Israelites in order for them to be delivered?
    </p><br>

    <p>Exodus 12</p>

    <h2>Plague of the Firstborn</h2>
    <p>
        The last plague that God sent to Egypt was the plague of the first 
        born son. He told the Israelites through Moses that:
    </p>

    <p class="verse">
        Exodus 12:4 - 7 <br>
        “‘About midnight I will go throughout Egypt. Every firstborn son in 
        Egypt will die, from the firstborn son of Pharaoh, who sits on the 
        throne, to the firstborn son of the female slave, who is at her hand 
        mill, and all the firstborn of the cattle as well. <br><br>
        
        There will be loud wailing throughout Egypt — worse than there has ever 
        been or ever will be again. But among the Israelites not a dog will 
        bark at any person or animal.’ <br><br>
        
        Then you will know that the Lord makes a distinction between Egypt 
        and Israel.”
    </p>

    <p>
        However, God promised the Israelites that he would spare anyone who 
        takes a lamb, pure of any defects, and looks after it a week before 
        that night. Then, the evening of the plague, each household must kill 
        the lamb, spread its blood on the doorframes, and eat the meat after 
        cooking it over a fire, with bread that has no yeast. 
    </p>

        <img class="profile" src="{% static 'collections/blood_door.png' %}" alt="">
    <br>

    <p>
        That same night, the angel of the Lord passed through all of Egypt. 
        Those that had smeared the blood of the lamb across their door frames 
        were spared - and all members of the household were safe. <br><br>
        
        However, of those that did not go through with the offering, every 
        first born son in the household died. <br><br>

        One of those people was Pharaoh's son. He summoned Moses and Aaron 
        and sent them and all their people out of Egypt. He was very angry 
        at Moses, and all the Israelites but he was mostly angry with God. 
        So the Israelites got up quickly, gathered their things and left. 
    </p>
        <img class="profile" src="{% static 'collections/door.png' %}" alt="">

<br>
    <h2>Why did God kill the Egyptians?</h2>
    <p>
        God chose to kill the Egyptians to punish them for their sense of 
        security and power. For the Israelites endured hundreds of years of 
        torture and punishment at the hands of Pharoah, yet they still 
        worshipped God and had strong faith. <br><br>
        
        God tests the security of Egypt through sending the plagues as they are 
        relying on Pharaoh and their money and power to prove themselves a 
        strong nation. <br><br>

        By killing the firstborns God is showing his power and that he is 
        almighty and able to do so. It brings glory and respect to God as 
        Pharaoh was mocking the Israelites and the power that God holds. <br><br>
        
        By bringing this plague the Israelites are finally free from their 
        oppression in Egypt. God shows his compassion for them, by bringing 
        justice. 
    </p>
<br>
    <h2>Why celebrate the Passover?</h2>
    <p>
        The passover is a celebration of God's deliverance to the Israelites. 
        It is a reminder of God's character of hope, protection and compassion, 
        and that God saves people from their struggles. <br><br>
        
        Because the Israelites had such strong faith he rewarded them and was 
        gracious to them. 
    </p>


</div>
{% endblock content %}