{% extends "../passage_layout.html" %}
{% load static %}

{% block content %}
<h3>
    <a href="../moses">&larr; storyline</a>
</h3>
<div class="passage">
    <h1>Moses and the Burning Bush</h1>
    <p>Exodus 3</p>
    <h2>Context</h2>
    <p>
        This part of the story takes place when Moses is 80 years old. He 
        worked as a shepherd for his father-in-law in Midian. Here he is 
        encountered by God in the form of a burning bush.
    </p> 
    <h2>Insights</h2>
    <ul>
        <li>
            In those days people took of their sandals in holy places as a 
            sign of respect
        </li>
        <li>
            Abraham, Isaac and Jacob were all leaders before Moses
        </li>
        <li>
            Moses was afraid to be seen by God because he didn’t feel worthy 
            enough to be seen by God
        </li>
    </ul>
    <br>

    <p>Exodus 3:1-6</p>
    <h2>The Burning Bush</h2>
    <img class="profile" src="{%static 'collections/burning_bush.png' %}" alt="">

    <p>
        Now Moses was tending the flock of Jethro, his father-in-law, 
        the priest of Midian, and he led the flock to the far side of the 
        wilderness and came to Horeb, the mountain of God.
        <br>
        <br>
        There the angel of the Lord appeared to him in flames of fire from 
        within a bush. Moses saw that though the bush was on fire it did not 
        burn up.
        <br>
        <br>
        So Moses thought, “I will go over and see this strange sight—why the 
        bush does not burn up.”
        <br>
        <br>
        When the Lord saw that he had gone over to look, God called to him 
        from within the bush, “Moses! Moses!”
        <br>
        <br>
        And Moses said, “Here I am.”
        <br>
        <br>
        “Do not come any closer,” God said. “Take off your sandals, for the 
        place where you are standing is holy ground.” Then he said, “I am the 
        God of your father, the God of Abraham, the God of Isaac and the 
        God of Jacob.” At this, Moses hid his face, because he was afraid to 
        look at God.
    </p>
    <h2>Insights</h2>
    <ul>
        <li>
            Moses feels incompetent as a Leader for the Israelites in Egypt
        </li> <br>
        <li>
            Instead of listening to God and trusting him he questions 
            God's authority
        </li>  <br>
        <li>
            God says “I am who I am” to show Moses his authority; God is 
            God and that in itself is more than enough
        </li>
    </ul>
    <br>
    <h2>God sends Moses</h2>
    <p>
        The Lord said, “I have indeed seen the misery of my people in Egypt. 
        I have heard them crying out because of their slave drivers, and I am 
        concerned about their suffering.
        <br>
        <br>
        So I have come down to rescue them from the hand of the Egyptians and 
        to bring them up out of that land into a good and spacious land. So 
        now, go. I am sending you to Pharaoh to bring my people the Israelites 
        out of Egypt.”
        <br>
        <br>
        But Moses said to God, “Who am I that I should go to Pharaoh and 
        bring the Israelites out of Egypt?”
        <br>
        <br>
        And God said, “I will be with you.”
        <br>
        <br>
        Moses said to God, “Suppose I go to the Israelites and they ask me, 
        ‘What is his name?’ Then what shall I tell them?”
        <br>
        <br>
        God said to Moses, “I am who I am. This is what you are to say to 
        the Israelites: ‘I am has sent me to you.’
        <br>
        <br>
        I know that the king of Egypt will not let you go unless a mighty 
        hand compels him. So I will stretch out my hand and strike the 
        Egyptians with all the wonders that I will perform among them. 
        After that, he will let you go.”
    </p>
    
</div>
{% endblock content %}
