{% extends "../passage_layout.html" %}
{% load static %}

{% block content %}
        <div class="game">
            <h1>Moses Origin Crossword</h1>
            <p>Exodus 1 & 2</p>
            <h2>Link to game &darr;</h2>
            <div class="game_page">
                <a href="
                https://puzzel.org/en/crossword/play?p=-NzGQgWg5rwlRXUHa66f">
                <img src="{% static 'images/game_black.svg' %}" alt="">
            </a>
            </div>
            
            

        </div>
{% endblock content %}