{% extends "../layout.html" %}
{% load static %}

{% block content %}
<h3>
    <a href="../moses">&larr; storyline</a>
</h3>
<div class="question">
    <h1>Signs for Moses</h1>
    <h2>Context</h2>
    <p>
        From the last step, God sends Moses to go to Egypt and tell Pharaoh 
        to let the Isrealites go. But Moses feels unworthy to do this. So 
        God shows Moses signs that God is good and powerful to convince Moses. 
    </p>
    <br>

    <p>Exodus 4</p>    
    <h2>Passage</h2>
    <p>
        Moses answered, “What if they do not believe me or listen to me and say, 
        ‘The Lord did not appear to you’?” <br><br>

        Then the Lord said to him, “What is that in your hand?” <br><br>

        “A staff,” he replied. <br><br>

        The Lord said, “Throw it on the ground.” <br><br>

        Moses threw it on the ground and it became a snake, and he ran from it. 
        Then the Lord said to him, “Reach out your hand and take it by the tail.” 
        So Moses reached out and took hold of the snake and it turned back into 
        a staff in his hand. <br>

        <img class="profile" src="{% static 'collections/snake_staff.png' %}" alt=""> <br>

        “This,” said the Lord, “is so that they may believe that the Lord, 
        the God of their fathers has appeared to you.” <br><br>

        Then the Lord said, “Put your hand inside your cloak.” So Moses put his 
        hand into his cloak, and when he took it out, the skin was leprous — it 
        had become as white as snow. <br><br>

        “Now put it back into your cloak,” he said. So Moses put his hand back 
        into his cloak, and when he took it out, it was restored, like the rest 
        of his flesh. <br><br>

        Moses said to the Lord, “Pardon your servant, Lord. I have never been 
        eloquent, neither in the past nor since you have spoken to your servant. 
        I am not good with words.” <br><br>

        The Lord said to him, “Who gave human beings their mouths? Who makes 
        them deaf or mute? Who gives them sight or makes them blind? Is it not 
        I, the Lord? Now go; I will help you speak and will teach you what to say.” <br><br>

        But Moses said, “Pardon your servant, Lord. Please send someone else.” <br><br>

        Then the Lord’s anger burned against Moses and he said, “What about your 
        brother, Aaron? I know he can speak well. He is already on his way to 
        meet you, and he will be glad to see you. You shall speak to him and put 
        words in his mouth; I will help both of you speak and will teach you what 
        to do. <br><br>

        He will speak to the people for you, and it will be as if he were your 
        mouth and as if you were God to him. Take this staff in your hand so 
        you can perform the signs with it.” <br><br>

    </p>

</div>
{% endblock content %}