{% extends "../layout.html" %}
{% load static %}

{% block content %}
<h3>
    <a href="../moses">&larr; storyline</a>
</h3>
<div class="question">
    <h1>Why was Moses called?</h1>
    <p>There are many reasons that God chose Moses as the one to deliver 
        the Israelites from slavery. 
    </p>

    <h2>Personal Connection</h2>
    <p>
        One of these was that Moses had a status in Israel as the Prince of 
        Egypt. The Israelites knew him and respected him so they were more 
        likely to listen to him. <br><br>

        This also goes along with how Moses grew up with Pharoah as by the 
        time Moses turned 80 the Pharaohs would have turned over to the next 
        in line. This proves a personal connection and Moses would be the most 
        likely to persuade Pharaoh of the Israelites deliverance. 
    </p>

    <h2>Trust</h2>
    <p>
        Another reason is that God was teaching Moses to trust and listen to 
        him. In the last step we see how Moses was hesitant to obey God’s 
        commandment to him due to his lack of interpersonal skills. <br><br>
        
        However God sends him anyway to show Moses that he can rely on God to give 
        him the words he needs. 
    </p>

    <h2>God can use anyone</h2>
    <p>
        God is also showing here that anyone is capable when they have God 
        with them. God is not limited to those who are skillful and competent. 
        <br><br> 
        
        God is there for all. He uses Moses to show how anyone can be a vessel 
        of God's love; his grace isn’t limited. 
    </p>

    <h2>God gives us companions</h2>
    <p>
        Moses isn’t sent by God alone. He feels incompetent as one person 
        but God sends him with his brother Aaron and has the support of the 
        Israelites (around 2.5 - 3 million people). <br><br>
        
        God chose Moses to show what one person can achieve versus how much 
        a whole community can achieve together. 
    </p>

    <h2>God promises deliverance</h2>
    <p>
        In Genesis, the first book of the Bible, it is said that God 
        promises the Israelites who are enslaved that He will save them and 
        deliver them from their slavery. <br><br>
        
        God needed Moses as a vessel to help him achieve that mission. 
        He worked through Moses in order to bring himself glory, and fulfil his 
        promise to the Israelites.
    </p>


</div>
{% endblock content %}