{% extends "../passage_layout.html" %}
{% load static %}

{% block content %}
        <h3>
            <a href="../moses">&larr; storyline</a>
        </h3>
        <div class="game">
            <h1>Gods Teaching Wordle</h1>
            <p>Exodus 3 & 4</p>
            <h2>Link to game &darr;</h2>
            <div class="game_page">
                <a href="
                https://mywordle.strivemath.com/?word=hwjwpr">
                <img src="{% static 'images/game_black.svg' %}" alt="">
            </a>
            </div>
            
            

        </div>
{% endblock content %}