<!DOCTYPE html>
{% load static %}
{% static 'maps' as image_path %}
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{page_title}}</title>
        <link rel="stylesheet" href="{% static 'style.css' %}">
    </head>
    <body>
        <!-- MENUBAR -->
        <div class="menubar">
            <a href="/maps">
                <div class="active one">
                    <img src="{% static 'images/map_black.svg' %}" alt="">
                </div>
            </a>
            <a href="notes">
                <img src="{% static 'images/notes_black.svg' %}" alt="">
            </a>
            <a href="/">
                <img src="{% static 'images/church_black.svg' %}" alt="">
            </a>
            <a href="/collections">
                <img src="{% static 'images/search_black.svg' %}" alt="">
            </a>
            <a href="/collections/leaders_of_the_bible/moses">
                <img src="{% static 'images/storyline_black.svg' %}" alt="">
            </a>
        </div>
        <div class="content">
            <a class="maps" href="./">
                <h3>&larr; Maps</h3>
            </a>
            <h1>{{map_name}} map</h1>
            <img class="map_img" src="{{image_path}}/{{img_name}}" alt="{{map_name}}">

        </div>

    </body>
</html>
