<!DOCTYPE html>
{% load static %}
{% static 'maps' as image_path %}
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>bible curious | {{page_title}}</title>
        <link rel="stylesheet" href="{% static 'style.css' %}">
        <link rel="shortcut icon" href="{% static 'favicon.ico' %}">
    </head>
    <body>
        <!-- MENUBAR -->
        <div class="menubar">
            <a href="/">
                <img src="{% static 'images/church_black.svg' %}" alt="">
            </a>
            <a href="/collections/leaders_of_the_bible/moses">
                <img src="{% static 'images/storyline_black.svg' %}" alt="">
            </a>
            <a href="/collections">
                <img src="{% static 'images/collections_icon.svg' %}" alt="">
            </a>
            <a href="/maps">
                <div class="active four">
                    <img src="{% static 'images/map_black.svg' %}" alt="">
                </div>
            </a>
            <a href="/notes">
                <img src="{% static 'images/star_black.svg' %}" alt="">
            </a>
        </div>
        <div class="content">
            <a class="maps" href="./">
                <h3>&larr; Maps</h3>
            </a>
            <!-- login icon -->
        {% if session %}
        <div class="pfp">
            <a href="/notes">
                <img src="{{session.userinfo.picture}}" alt="">
            </a>
        </div>
        {% else %}
        <div class="pfp">
            <a class="login" href="/login">LOGIN</a>
            
        </div>
        {% endif %}
            <h1>{{map_name}} map
                {% if session %}
                <form method="post">
                    {% csrf_token %}
                    <input type="checkbox" name="fav_map" onClick="form.submit()" value="1" {{ map_is_fav }}/>
                    <span class="star"></span>
                </form>
                {% endif %}
            </h1>
            
            <img class="map_img" src="{{image_path}}/{{img_name}}" alt="{{map_name}}">


    </body>
</html>
