@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap');

body {
    margin: 0;
    padding: 0;
    /* background-color: rgb(224, 224, 224); */
    background-color: var(--background);
    line-height: 1.5;
    font-family: "Karla", sans-serif;
    width: 100vw;
}

p {
    word-spacing: 0.2em;
    color: var(--p-text);
    font-size: 130%;

}

.logo {
    width: 90%;
    margin: auto;
    justify-content: center;
    background-image: var(--logo);
}

.back {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 3%;
}

.head {
    margin-top: 5%;
}

::-webkit-scrollbar {
    display: none;
}

h1 {
    font-size: 250%;
    display: flex;
    color: var(--p-text);
    /* padding: 0.5%; */
}

h2 {
    font-size: 180%;
}

.menubar {
    margin: 0;
    background-color: var(--menubar-clr);
    bottom: 0;
    width: 100%;
    overflow: hidden;
    padding: 1%, 0;
    height: 9%;
    align-items: baseline;
    position: fixed;
    z-index: 1;
    /* border: 1px black solid; */
}

.menubar a {
    float: left;
    width: 15%;
    margin: 1%;
    padding: 1%;
    font-size: 50%;
    text-align: center;
}

.menubar img {
    width: 90%;
    justify-content: center;
}

.menubar .active {
    border-radius: 50%;
    background-color: var(--menubar-clr);
    z-index: 1;
    width: 23%;
    height: 12%;
    bottom: 0%;
    position: fixed;
    /* border: 1px black solid; */
}

.active img{
    position: relative;
    width: 85%;
    padding: 7.5%;
}

.active.one {
    left: 0;
}

.active.two {
    left: 18%;
}

.active.three {
    left: 37%;

}

.active.four {
    left: 57%;
}

.active.five {
    left: 77%;
}


.content {
    padding: 5%;
    margin: 0 0 20% 0;
    max-width: 768%;
    margin-left: auto;
    margin-right: auto;
    /* overflow-y: scroll; */
    /* Add the ability to scroll */
    color: var(--p-text);
}

a {
    text-decoration: none;
    color: var(--p-text);
}

.icon_header {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.icon_header img {
    width: 15%;
    margin-right: 5%;
}

.map_block {
    background-color: var(--verse);
    padding: 2% 10%;
    border-radius: 10px;
    box-shadow: var(--shadow) 3px 4px 7px 0;
    margin: 10% 0;
}

.map_block h2{
    color: var(--collection);
}

.map_content h2 {
    color: var(--p-text)
}

.map_block a {
    text-align: center;
    font-size: 120%;
}

.map_img {
    width: 100%;
    margin-bottom: 5%;
}

.verse_of_the_week {
    border-radius: 10px;
    padding: 0 5%;
    margin: 0;
    font-size: 110%;
}

.verse_of_the_week .ref {
    font-size: 100%;
    margin: 0;
}

.letters_box {
    /* box-shadow: 0 0 15px 3px #e68932; */
    background-image: linear-gradient(to bottom right, #e68932, orange, white);
    color: var(--collection);
}

.gospels_box {
    /* box-shadow: 0 0 15px 3px #70634b; */
    background-image: linear-gradient(to bottom right, #70634b, #998a6d, white);
    color: white;
}

.law_box {
    /* box-shadow: 0 0 15px 3px #cf2f23; */
    background-image: linear-gradient(to bottom right, #cf2f23, #dc5318, #ecbfac);
    color: white;
}

.history_box {
    /* box-shadow: 0 0 15px 3px #174ab0; */
    background-image: linear-gradient(to bottom right, #174ab0 30%, #537ed4, #799de6);
    color: white;
}

.poetry_box {
    /* box-shadow: 0 0 15px 3px #ed8cea; */
    background-image: linear-gradient(to bottom right, #ed8cea, #f5c2f4, white);
    color: var(--collection);
}

.prophets_box {
    /* box-shadow: 0 0 15px 3px #396641; */
    background-image: linear-gradient(to bottom right, #396641, #55875e, #abd6b2);
    color: white;
}

.church_box {
    /* box-shadow: 0 0 15px 3px #594b70; */
    background-image: linear-gradient(to bottom right, #594b70 30%, #8676a0, white);
    color: white;
}

.prophecy_box {
    /* box-shadow: 0 0 15px 3px #ed8cea; */
    background-image: linear-gradient(to bottom right, #f0e556, #f8f3a8, white);
    color: var(--collection);
}

.verse_info {
    padding: 0 3%;
    margin: 0;
}

.verse_law {
    border-left: 5px solid #cf2f23;
    border-radius: 10px;
}

.verse_history {
    border-left: 5px solid #174ab0;
    border-radius: 10px;
}

.verse_poetry {
    border-left: 5px solid #ed8cea;
    border-radius: 10px;
}

.verse_prophets {
    border-left: 5px solid #396641;
    border-radius: 10px;
}

.verse_gospels {
    border-left: 5px solid #70634b;
    border-radius: 10px;
}

.verse_church {
    border-left: 5px solid #594b70;
    border-radius: 10px;
}

.verse_letters {
    border-left: 5px solid #e89817;
    border-radius: 10px;
}

.verse_prophecy {
    border-left: 5px solid #f0e556;
    border-radius: 10px;
}

#hidden {
    padding: 3% 1%;
    display: none;
    color: var(--p-text);
    font-size: 120%;
}

:checked+#hidden {
    color: var(--verse-clr);
}

:checked+#hidden {
    display: block;
}

.sections{
    padding: 1% 3%;
    width: 90;
    justify-content: center;
    display: block;
    border-radius: 10px;
    margin: 5% 0;
    background-color: var(--verse);
    box-shadow: var(--shadow) 3px 4px 7px 0;
    color: var(--verse-clr);
}

.more {
    padding: 2%;
    font-weight: bold;
    width: 90%;
    justify-content: center;
    border-radius: 10px;
    margin: 5% 0;
    background-color: var(--story);
    box-shadow: var(--shadow) 3px 4px 7px 0;
    color: var(--step-clr);
}


.history_box #hidden {
    color: white;
}

.prophets_box #hidden {
    color: white;
}

.gospels_box #hidden {
    color: white;
}

.church_box #hidden {
    color: white;
}

.law_box #hidden {
    color: white;
}

.sections h3 {
    font-weight: bolder;
    font-size: 130%;
}


.sections p {
    font-size: 120%;

}

.explanation {
    color: var(--verse-clr);
    font-weight: bold;
}

.current_stories_scroll {
    overflow: scroll;
    color: white;
    white-space: nowrap;
    width: 100%;
    height: 20%;
    box-shadow: inset 5px 0 18px -18px red;
}

.current_story_block {
    display: inline-block;
    overflow: none;
    margin: 2%;
    width: 55%;
}

.c_s_story {
    text-align: right;
    justify-content: center;
    margin-bottom: 5%;
    padding: 15%;
    height: 80%;
    display: block;
    background-color: var(--step);
    color: var(--verse-clr);
    border-radius: 10px;
    font-size: 200%;
    background-image: url(collections/ruth.png);
    background-size: contain;
    background-repeat: no-repeat;
    box-shadow: var(--shadow) 3px 4px 7px 0;
}

.c_s_collection {
    height: 15%;
    padding: 5%;
    text-align: center;
    display: block;
    background-color: var(--story);
    color: var(--verse-clr);
    border-radius: 10px;
    font-size: 120%;
    box-shadow: var(--shadow) 3px 4px 7px 0;
}


.settings .toggle {
    position: relative;
    display: inline-block;
    width: 48px;
    height: 25px;
    margin: 0 0 0 5%;
}

.settings .toggle input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: var(--p-text);
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 3px;
    bottom: 3px;
    background-color: white;
    -webkit-transition: .0.4;
    transition: 0.4;
}

input:checked+.slider {
    background-color: var(--story);
}

input:focus+.slider {
    box-shadow: 0 0 1px white;
}

input:checked+.slider:before {
    -webkit-transform: translateX(22px);
    -ms-transform: translateX(22px);
    transform: translateX(22px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.settings {
    margin-top: 3%;
    display: flex;
    align-items: center;
    width: 100%;
    margin: 0;
}

.settings p {
    padding-left: 5%;
    font-size: 150%;

}

.story_block {
    width: 100%;
    display: flex;
    background-color: var(--story);
    border-radius: 10px;
    background-image: url(collections/moses.png);
    background-size:contain;
    background-repeat: no-repeat;
    box-shadow: var(--shadow) 3px 4px 7px 0;
    color: var(--collection);
    text-decoration: none;
    font-size: 150%;
    margin: 10% 0;
}

.story_block h2 {
    color: var(--collection);
    padding-left: 30%;
}

.collection_block {
    background-color: var(--collection);
    padding: 2% 10%;
    border-radius: 10px;
    box-shadow: var(--shadow) 3px 4px 7px 0;
    margin: 10% 0;
    text-align: center;
    font-size: 120%;
}

.collection_block h2{
    color: white;
}

.step {
    display: flex;
    width: 100%;
    border-radius: 10px;
    justify-content: center;
    background-color: var(--step);
    color: var(--step-clr);
    box-shadow: var(--shadow) 3px 4px 7px 0;
}

.step h3 {
    text-decoration: none;
    font-size: 130%;
    font-weight: bold;
    padding: 0;
}

.step_type {
    width: 40%;
}

.step_type img {
    /* border: red 2px solid; */
    width: 100%;
}

.step_info {
    padding: 2% 5%;
    justify-content: center;
    font-size: 110%;
    display: block;
}

.vl {
    border-left: 4px solid var(--step);
    margin: 5% 50%;
    height: 100px;
}

.finished {
    background-color: var(--story);
    color: var(--collection);
    margin-bottom: 10%;
}

.passage,
.question,
.game {
    display: inline-block;
}

.passage {
    margin: 0;
    padding: 0;
}

.passage ul {
    list-style-type:square;
    text-indent: 0;
}

.passage li {
    font-size: 120%;
}

.game_page {
    width: 100%;
    border-radius: 10px;
    background-color: var(--menubar-clr);
    justify-content: center;
    text-align: center;
    height: auto;
    display: inline-block;
    margin-bottom: 10%;
}

.game_page img{
    width: 80%;
    padding: 5%;
}

.step_nav{
    font-weight: bold;
    font-size: 150%;
    width: 100%;
    margin-bottom: 30%;
}

.next{
    display: block;
    width: auto;
    float: right;
    padding: 5% 10%;
    color: var(--story);
    text-align: right;
}

.prev{
    display: block;
    width: auto;
    float: left;
    padding: 5% 10%;
    color: var(--story);
    text-align: left;
}


.verse {
    background-color: var(--verse);
    color: var(--verse-clr);
    font-weight: bold;
    padding: 3%;
    border-radius: 10px;
}

img.profile {
    width: 80%;
    display: flex;
    margin: auto;
}

.shake:hover {
    animation: tilt-shaking 0.25s infinite;
}


:root {
    --background: #fff;
    --p-text: #08415c;
    --menubar-clr: #afc7d4;
    --collection: #08415c;
    --story: #8db9b4;
    --step: #afc7d4;
    --verse: #f7efae;
    --verse-clr: #08415c;
    --step-clr: #08415c;
    --shadow: #606d74;
    --logo: url(images/bc_logo_blue.png)
}

/* darkmode */
@media (prefers-color-scheme: dark) {
    :root {
        --background: #282f33;
        --p-text: #ededed;
        --menubar-clr: #8db9b4;
        --collection: #08415c;
        --story: #8db9b4;
        --step: #95bed4;
        --verse: #ece085;
        --verse-clr: #08415c;
        --step-clr: #08415c;
        --shadow: #557391;
        --logo: url(images/bc_logo_white.png)
    }
}