body {
    margin: 0;
    /* background-color: rgb(224, 224, 224); */
    background-color: white;
}

h1 {
    font-size: 300%;
}

h2 {
    font-size: 180%;
}

p {
    font-size: 130%;
}

.menubar {
    margin: 0;
    background-color: #a8c7f0;
    bottom: 0;
    width: 100%;
    overflow: hidden;
    padding: 1%, 0;
    max-height: 15%;
    align-items: baseline;
    position: fixed;
    z-index: 1;
    /* border: 1px black solid; */
}

.menubar a {
    display: flex;
    float: left;
    width: 16%;
    margin: 1%;
    padding: 1%;
    font-size: 50%;
    text-align: center;
}

.menubar img {
    width: 100%;
}

.active img{
    display: flex;
    width: 570%;
    z-index: 2;
    margin: auto;
    text-align: center;
    padding: 10%;
}

.menubar .active {
    border-radius:50%;
    background-color: #a8c7f0;
    z-index: 1;
    width: 25%;
    height: 13%;
    bottom: 0%;
    position: fixed;
    /* border: 1px black solid; */
}

.active.one {
    left: 0;
    background-image: url("images/maps_icon.png");
    background-repeat: no-repeat;
    background-size: contain;
}

.active.two {
    left: 17%;
    background-image: url("images/notes_icon.png");
    background-repeat: no-repeat;
    background-size: contain;
}

.active.three {
    left:37%;
    background-image: url("images/Home_icon.png");
    background-repeat: no-repeat;
    background-size: contain;
}

.active.four {
    left:57%;
    background-image: url("images/collections_icon.png");
    background-repeat: no-repeat;
    background-size: contain;
}

.active.five {
    left: 77%;
    background-image: url("images/storyline_icon.png");
    background-repeat: no-repeat;
    background-size: contain;
}


.content {
    padding: 5%;
    margin-bottom: 20%;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}

a {
    text-decoration: none;
    color: black;
}

.icon_header {
    display: flex;
    width: 100%;
}

.icon_header img {
    width: 20%;
}

.verse_of_the_week {
    border-radius: 3%;
    padding: 3%;
    margin: 0;
    font-weight:bold;
    color: black;
}

.verse_of_the_week .ref {
    font-weight:lighter;
}

.verse_of_the_week.letters {
    /* box-shadow: 0 0 15px 3px #e68932; */
    background-image: linear-gradient(to bottom right, #e68932, orange, white);
}

.verse_of_the_week.gospels {
    /* box-shadow: 0 0 15px 3px #70634b; */
    background-image: linear-gradient(to bottom right, #70634b, #998a6d, white);
    color: white;
}

.verse_of_the_week.law {
    /* box-shadow: 0 0 15px 3px #cf2f23; */
    background-image: linear-gradient(to bottom right, #cf2f23, #dc5318, white);
}

.verse_of_the_week.history {
    /* box-shadow: 0 0 15px 3px #174ab0; */
    background-image: linear-gradient(to bottom right, #174ab0, #2e62c9, white);
    color: white;
}

.verse_of_the_week.poetry {
    /* box-shadow: 0 0 15px 3px #ed8cea; */
    background-image: linear-gradient(to bottom right, #ed8cea, #f1b1ef, white);
}

.verse_of_the_week.prophets {
    /* box-shadow: 0 0 15px 3px #396641; */
    background-image: linear-gradient(to bottom right, #396641, #55875e, white);
    color: white;
}

.verse_of_the_week.church {
    /* box-shadow: 0 0 15px 3px #594b70; */
    background-image: linear-gradient(to bottom right, #594b70, #72628b, white);
    color: white;
}

.verse_of_the_week.prophecy {
    /* box-shadow: 0 0 15px 3px #ed8cea; */
    background-image: linear-gradient(to bottom right, #f0e556, #f8f3a8, white);
}


.current_stories_scroll {
    overflow: auto;
    color: white;
    white-space: nowrap;
    padding: 2%;
    width: 100%;
    height: 20%;
}

.current_story_block{
    display: inline-block;
    overflow: hidden;
    margin: 2%;
    width: 50%;
}

.c_s_story {
    text-align: center;
    justify-content: center;
    margin-bottom: 5%;
    padding: 15%;
    height: 80%;
    display: block;
    background-color: #ab739a;
    border-radius: 5px;
    font-size: 200%;
    background-image: url(collections/moses.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.c_s_collection {
    height: 15%;
    padding: 5%;
    text-align: center;
    display: block;
    background-color: #ab739a;
    border-radius: 5px;
    font-size: 120%;
}


.settings .toggle {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.settings .toggle input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: red;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .0.4;
    transition: 0.4;
}

input:checked + .slider {
    background-color: blue;
}

input:focus + .slider {
    box-shadow: 0 0 1px white;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.settings {
    margin-top: 3%;
    display: flex;
    align-items: center;
    width: 100%;
    margin: 0;
}

.settings p {
    padding-left: 5%;
    font-size: 150%;

}

.story_block {
    width: 80%;
    display: flex;
    background-color: grey;
    padding: 2% 10%;
    border-radius: 10px;
    margin: 10% 0;
    background-image: url(collections/moses.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.story_block a {
    text-align:right;
    font-size: 150%;
    color: white;
    padding-left: 30%;
}

.story_block a:hover {
    color: black;
    transition: 0.5s ease;
}

.row {
    display: flex;
}

.column {
    flex: 50%;
}

.collection_block {
    background-color: grey;
    padding: 2% 10%;
    border-radius: 10px;
    margin: 10% 0; 
}

.collection_block a {
    color: white;
    text-align: center;
    font-size: 120%;
}

.collection_block a:hover {
    color: black;
    transition: 0.5s ease;
}

.step {
    display: flex;
    width: 100%;
    border-radius: 10px;
    justify-content: center;
    background-color: grey;

}

.step_type {
    width: 50%;
} 

.step_type img{
    /* border: red 2px solid; */
    width: 100%;
}

.step_info {
    padding: 2% 5%;
    justify-content: center;
    font-size: 100%;
}

.vl {
    border-left: 4px solid black;
    margin: 5% 50%;
    height: 100px;
}

.passage, .question {
    display: inline-block;
}

.passage p {
    font-size: 120%;
}

.verse {
    background-color: rgba(78, 78, 78, 0.288);
    color: black;
    padding: 3%;
    border-radius: 10px;
}

img.profile {
    width: 80%;
    display: flex;
    margin: auto;
}

.shake:hover {
    animation: tilt-shaking 0.25s infinite;
}